table {
  border: none;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

thead td {
  color: #ffffff;
  background-color: #3F51B5;
  padding-left: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

td {
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.add-button {
  text-align: right;
  padding-top: 16px;
  padding-right: 48px;
  background-color: #ffffff;
}
